#------------------------------------
# Project
#------------------------------------

# ...custom project excludes





#------------------------------------
# Tools
#------------------------------------

/auth.json
/*-workspace
/.env
configLocal.json
/fabCache/*
scripts/syncStagingToLocalCreds.sh
localStorage/*
!localStorage/dbBackups
localStorage/dbBackups/*
!localStorage/dbBackups/.gitkeep
!localStorage/syncBackups
localStorage/syncBackups/*
!localStorage/syncBackups/.gitkeep
backups/*
bower_components/
node_modules/
out/
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json





#------------------------------------
# System
#------------------------------------

.phpunit.result.cache
.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
Homestead.yaml
vendor/*
*.vagrant





#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep
